# Security
.env
.env.staging
.env.production
.env.local
.env.*.local
!.env*.example

# Environments
venv/
env/

# Python / Django Cache
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
staticfiles/

# OS Files
.DS_Store
Thumbs.db